body {
  background-color: white;
}
.nave-btn {
  font-size: 1rem;
  color: yellow;
  background-color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.nave-search {
  font-size: 1rem;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: blue;
}
.nave-info {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: black;
  margin-top: 0.5rem;
}
