@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

body {
  background-color: #323031;
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.nave-btn,
.people-btn,
.planets-btn {
  font-size: 1.5rem;
  color: yellow;
  background-color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.nave-search,
.people-search,
.planets-search {
  font-size: 1.5rem;
  color: yellow;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: black;
}
.nave-info-ul,
.people-info-ul,
.planets-info-ul {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: yellow;
  background-color: black;
  margin-top: 0.5rem;
}
.nave-info,
.people-info,
.planets-info {
  margin-top: 0.5rem;
  text-align: left;
}
.footer {
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: left;
}
.github {
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#github-icon {
  color: white;
  margin-left: 1rem;
}
a {
  color: white;
  margin-right: 1rem;
}
h1 {
  color: white;
}
