body {
  background-color: #323031;
}
.nave-btn {
  font-size: 1rem;
  color: yellow;
  background-color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.nave-search {
  font-size: 1rem;
  color: yellow;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: black;
}
.nave-info-ul {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: yellow;
  background-color: black;
  margin-top: 0.5rem;
}
.nave-info {
  margin-top: 0.5rem;
}
